/* GLOBAL SAFETY RESET */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
}

.mainPage {
  background: linear-gradient(135deg, #283b4f, #001317);
  text-align: center;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
  min-height: 100vh;
  min-width:100%;
  overflow-x: hidden;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  margin-left:  100px;
}

.container-md h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 25px;
  margin-left:-10px;
}

.container-md p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-left:-10px;
}

.container .row {
  margin-top: 30px;
  margin-left: 180px;
  display: flex; 
  justify-content: space-around;
  width: max-content;
}

.container .col-sm-4 {
  background-color: rgb(30, 28, 28);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 200px;
}

.container h1{
  font-size: 2.5rem ;
  margin-left: 20px;
}

.container{
  margin-left:-10px;
}

.movie-header{
padding-bottom: 20px;
margin-bottom: 30px;
}

.moviePosters{
  margin-left:50px;
  display: flex;
  flex-direction:column;
  gap: 20px;
  margin-bottom: 160px;
  overflow-x: hidden;
}
.moviePosters img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-left:-20px;
}

.footer-container {
  margin-left: 150px;
}
