.mainPage {
  background: linear-gradient(135deg, #283b4f, #001317);
  text-align: center;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
  min-height: 100vh;
  min-width:100%;
  overflow-x: hidden;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  margin-left:  150px;
}

.container-md h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.container-md p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.container .row {
  margin-top: 30px;
  margin-left: 135px;
  display: flex;
  justify-content: space-around;
  width: max-content;
}

.container .col-sm-4 {
  background-color: rgb(30, 28, 28);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 200px;
}

.container h1{
  font-size: 2.5rem ;
  margin-left: 20px;
}

.movie-header{
padding-bottom: 20px;
margin-bottom: 30px;
}

.moviePosters{
  margin-bottom:50px
}

.footer-container {
  margin-left: 150px;
}
