.sidebar {
    position:fixed;
    top: 0;
    left: 0;
    width: 180px;
    height: 100vh;
    background-color: #222;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    text-align: center;
  }
  
  .logo-section h1 {
    margin-left: -20px;
    font-size:medium;
  }
  
  .logo {
    width: 60px;
    margin-bottom: 10px;
    margin-left: -20px;
    margin-top: 10px;
  
  }
  
  .sidebar h2 {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  
  .sidebar nav ul {
    list-style: none;
    padding-bottom: 100px;
    padding-top: 100px;

  }
  
  .sidebar nav ul li {
    margin-bottom: 3rem;
  }
  
  .sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: -50px;
  }
  
  .sidebar nav ul li a:hover {
    text-decoration: underline;
    color: rgb(19, 111, 158);
  }

  .profile-section {
    text-align: center;
  }
  
  .profile-img {
    width: 50px;
    padding-bottom: 70%;
    margin-left: -20px;
  
  }
  
  