.footer {
    position:relative;
    width: 100%;
    background-color: #222;
    color: white;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    margin-left: 130px; 
  }

  .content p {
    margin-left: 40px;
    text-align: center;
  }
  
  /* Mobile-friendly */
  @media (max-width: 768px) {
    .footer {
      margin-left: 0;
    }
  }
  