.main {
  background: linear-gradient(135deg, #283b4f, #001317);
  color: whitesmoke;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  padding: 60px 20px;
  text-align: center;
  margin-left: 150px;
}

.main h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.main p {
  font-size: 1.3rem;
  margin-bottom: 40px;
}
